extends ./newlayout.pug

block contenido
  section#section-2.services-section.bg-dark.bg-image-parallax(style='background-image: url(img/misc/bg-4.jpg);')
    // Element cover
    span.cover.bg-transparent-9-dark
    .container
      .row
        // Left column
        .col-md-6
          // Begin heading
          .heading.heading-lg.text-white.heading-hover.wow.fadeIn(data-wow-delay='0.2s')
            h2.heading-title Servicios
            // Begin divider
            hr.hr-width-1.hr-5x.border-main
            // End divider
            p.heading-tescription.lead.text-gray-2
              | Ofrecemos diferentes servicios, todos ellos enfocados a la salud mental, física y emocional, de niños adolescentes y adultos, contamos con terapia individual, familiar, de pareja, así como talleres para la promoción de la salud, algunos utilizando el arte como un puente para el crecimiento emocional. También ofrecemos talleres de desarollo humano para empresas interesadas en la calidad de vida de sus trabajadores.
            p.heading-tescription.lead.text-gray-2
              | ¡Existen muchos mitos sobre la atención psicológica! que es "para locos" que es un lujo inecesario, que no funciona. La realidad es que la salud mental impacta en todos los ámbitos de la vida, sentimental, familiar, laboral etc. y aquél que hace un esfuerzo para mejorar emocional, mental y físicamente esta haciendo una importante inversión en su vida.
          // End heading
        // /.col
        // Right column
        .col-md-6
          .row
            .col-md-12
              // Begin info box-4
              .info-box.info-box-4.info-box-white.wow.fadeIn
                span.info-box-icon.rounded-icon.bg-main.text-white
                  i.fa.fa-user
                .info-box-info
                  h4.info-box-title Terapia individual
                  p.info-box-text.text-gray-2
                    | La terapia individual se centra en los malestares personales, en la vida hay muchas situaciones que nos “mueven el piso” y nos rebasan en recursos para afrontar a superar la situación. En esta modalidad, se busca encontrar nuevas respuestas a viejos problemas, así como, mejores respuestas problemas nuevos. Si en algún momento, te has sentido fuera de lugar, en situaciones que no comprendes o que te invaden ideas, percepciones o emociones que incomodan, molestanoduelen,puede ser momento de intentar esta opción, contáctanos.¡Contamos con terapia individual para niños, adolescentes y adultos!
              // End info box-4
            // /.col
            .col-md-12
              // Begin info box-4
              .info-box.info-box-4.info-box-white.wow.fadeIn
                span.info-box-icon.rounded-icon.bg-main.text-white
                  i.fa.fa-users
                .info-box-info
                  h4.info-box-title Terapia familiar y de pareja
                  p.info-box-text.text-gray-2
                    | La terapia familiar y/o de pareja es un enfoque que analiza los vínculos establecidos al interior del núcleo familiar, para ello analiza las interacciones de las familias y sus miembros en situaciones de la vida cotidiana. Si por algún motivo consideras que tu relación familiar o con tu contexto ha impactado en ti generando un malestar o bien, si sientes que puedes mejorar los vínculos en la familia, es momento de buscar ayuda ¡Acércate a nosotros!
              // End info box-4
            // /.col
            .col-md-12
              // Begin info box-4
              .info-box.info-box-4.info-box-white.wow.fadeIn
                span.info-box-icon.rounded-icon.bg-main.text-white
                  i.fa.fa-pencil
                .info-box-info
                  h4.info-box-title Talleres artísticos con enfoque terapéutico
                  p.info-box-text.text-gray-2
                    | En CAPAC contamos con talleres que se basan en manifestaciones artísticas con fines terapéuticos, usando la danza, el teatro, la pintura etc. Se utiliza el arte como un puente que en muchos casos permite que las personas se expresen y simbolicen sus malestares y conflictos. A través del arte se logra también un conocimiento integral de la persona y el hecho de que la misma actividad ya lleve al individuo a actuar, moverse, hacer, hace más sencillo que las personas hagan cambios de comportamiento para su bienestar.
              // End info box-4
            // /.col
            .col-md-12
              // Begin info box-4
              .info-box.info-box-4.info-box-white.wow.fadeIn
                span.info-box-icon.rounded-icon.bg-main.text-white
                  i.fa.fa-book
                .info-box-info
                  h4.info-box-title Talleres psicoeducativos
                  p.info-box-text.text-gray-2
                    | La información es muy importante para decidir y a veces nos ayuda a pasar mejor una situación. En CAPAC tenemos claro que para vivir mejor, también es necesario empoderar a las personas para que tengan toda la información que necesitan sobre los temas que les preocupan. Con base en ello, el Centro brinda opciones a sus usuarias y usuarios, tenemos talleres informativos sobre salud mental, género, manejo de emociones y sensibilización sobre necesidades especiales. Acércate al Centro y vive la experiencia CAPAC, infórmate, fórmate y decide, vuélvete la mejor versión de ti misma(o).
              // End info box-4
            // /.col
            .col-md-12
              // Begin info box-4
              .info-box.info-box-4.info-box-white.wow.fadeIn
                span.info-box-icon.rounded-icon.bg-main.text-white
                  i.fa.fa-address-card
                .info-box-info
                  h4.info-box-title Consultoría y desarrollo organizacional
                  p.info-box-text.text-gray-2
                    | CAPAC es una comunidad de conocimiento, al interior del Centro se construye un espacio, donde se valora el trabajo en equipo, se respetan las diferencias, trabajamos por mejorar nuestras prácticas valorando y fomentando el reconocimiento de las personas que integramos nuestro espacio. A partir de nuestra experiencia y teniendo como base la constante formación de nosotras y nosotros, brindamos un proceso de construcción y mejora de instituciones, organizaciones, equipos y comunidades de trabajo. Construimos “trajes a la medida” para las necesidades de cada espacio, para ello se fomenta una fuerte vinculación que permita una postura conjunta al momento del diagnóstico, la intervención y el seguimiento de cada proceso de intervención. ¡Bríndanos la oportunidad de apoyarte en tu organización!
              // End info box-4
            // /.col
          // /.row
        // /.col
      // /.row
    // /.container
  // End section 2
