extends ./layout.pug

block contenido
  .container
    h1.text-center ¿Quiénes somos?
    p.text-center Somos un grupo multidisciplinario enfocado en la promoción de la salud mental y la intervención terapeútica Trabajamos bajo diferentes enfoques teóricos pues estamos convencidos de que cada persona es única y las diferencias individuales requieren diferentes propuestas de intervención psicológica, por ello trabajamos en conjunto para brindarte la mejor atención.
    .row
      .col-md-12.alianza-container
        .row
          .col-md-12
            h1.text-center Alianza CAPAC
            p.text-center
              | Nuestro compromiso es brindar la mejor atención, por ello nuestro modelo de trabajo incluye establecer alianzas
              | con otros profesionales de la salud, para brindar a cada persona una atención especializada y acorde a sus necesidades.
